<ion-view view-title="Schedule">
    <ion-content>

        <!-- content goes here -->
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Meal's name">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Category
                </div>
                <select>
                    <option>Blue</option>
                    <option selected>Green</option>
                    <option>Red</option>
                </select>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    Cuisine
                </div>
                <select>
                    <option>Blue</option>
                    <option selected>Green</option>
                    <option>Red</option>
                </select>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    Minimum Order
                </div>
                <select>
                    <option>Blue</option>
                    <option selected>Green</option>
                    <option>Red</option>
                </select>
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    Maximum order
                </div>
                <select>
                    <option>Blue</option>
                    <option selected>Green</option>
                    <option>Red</option>
                </select>
            </label>

            <label class="item item-input">
                <textarea placeholder="PickUp Location"></textarea>
            </label>

            <label class="item item-input">
                <input type="date" placeholder="Start cooking">
            </label>

            <label class="item item-input">
                <input type="time" placeholder="Estimated Cooking time">
            </label>
        </div>

    </ion-content>
</ion-view>