<ion-view view-title="Schedule(Cont.)">
    <ion-content>

        <!-- content goes here -->
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Add a Ingredient">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Ingredients" disabled="disable">
            </label>
        </div>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Add a Allergy">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Allergies" disabled="disable">
            </label>
        </div>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Add a Tag">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Tags" disabled="disable">
            </label>
        </div>
    </ion-content>
</ion-view>